body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f0f0f0;
      justify-items: center;
      padding-top: 20px;
  }
  
  .container {
      max-width: 65%;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      transition: opacity 500ms ease-in-out 0s;

      &:hover {
        box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
          rgb(0 0 0 / 72%) 0px 30px 22px -10px;
        transform: scale(1.05);
        border-color: rgba(249, 249, 249, 0.8);
      }
  }
  
  .div1,
.div2 {
    margin: 20px 0;
    /* border: blue 10px solid; */
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
  h1 {
      font-size: 24px;
      margin: 10px 0;
      text-align: center;
  }
  
  img {
        width: 100%;
        max-width: 250px;
        height: auto;
      border-radius: 5%;
      margin: 10px auto;
      
  }

  h3{
    font-size: 18px;
    text-align: start;
  }
  
  p {
    font-size: 24px;
    text-align: start;
  }
  
  a {
      display: block;
      margin-top: 20px;
      font-size: 16px;
      text-decoration: none;
      color: #0078d4;
      text-align: start;
  }

  /* Mobile responsive styles */
  @media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }
    
    .div1,
    .div2 {
        margin: 8px 0;
    }

    h1 {
        font-size: 20px;
    }

    img {
        max-width: 150px;
    }

    h3, p {
        margin-top: 5px;
        font-size: 16px;
    }

    a {
        font-size: 14px;
    }
}
  